/* Table of Contents 

Global -
Nav Bar -
Index/Landing Page - 
Ceremony Page -
Logistics Page -
Album Page - 
Registry Page - 


/* ------------------------------ Global ------------------------------------------ */

@font-face {
  font-family: andes;
  src: url(fonts/Andes.ttf);
}

body,
html {
  height: 100%;
  background-color: #b2ac88;
  text-transform: lowercase;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

nav {
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #b2ac88;
  position: fixed;
  width: 100%;
}

a,
a:hover,
a:active,
a:visited {
  color: white;
}

/* -------------------------- Navigation bar ------------------------ */

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 200%;
  text-shadow: black 0 0 3px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-decoration: none;
  font-weight: bold;
  background-color: #b2ac88;
  border: black 0px 0px 3px;
}

.nav-links li {
  /* to remove bullets in list */
  list-style: none;
}

.nav-links a {
  color: white;
  text-shadow: black 0 0 1px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 100%;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 30%;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    z-index: 9999;
    color: white;
    right: 0px;
    height: 50vh;
    /*height controls white space between links*/
    top: 8vh;
    /*distance from top navbar - dont change*/
    background-color: #b2ac88;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    overflow-x: hidden;
    /*keeps non-active navmenu from showing until clicked*/
  }

  .nav-links a {
    font-size: 15px;
    margin: 0%;
    display: inline-block;
    padding-bottom: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

/*burger slide from right animation*/
.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacty: 1;
    transform: translateX(0px);
  }
}

/*animation series changing burger to an X*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* ----- count down */
/* set to expire 6/4/21 at 1700 est */

.countdown {
  color: white;
  text-align: center;
  text-shadow: black 0px 0px 3px;
  font-size: 25px;
  width: 100%;
  margin: auto;
  padding: 7px;
  position: fixed;
}

/* ------------------------ Index Page & Hero Banner ------------------------- */

.banner {
  background-image: url('images/eng3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b2ac88;
  width: 100%;
  height: 90%;
}

.banner-text h1 {
  font-family: andes, sans-serif;
  letter-spacing: 8px;
  line-height: 75px;
  font-size: 65px;
  text-align: center;
  margin: auto;
  padding-top: 30%;
  color: white;
}

@media screen and (max-width: 768px) {
  /* for mobile  */
  body {
    overflow-x: hidden;
  }
  .banner {
    color: white;
    height: 90vh;
    top: 8vh;
    background-color: #b2ac88;
    background-position: 80%;
    /* moves background left so people aren't cut off */
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 100%;
  }

  .banner-text h1 {
    position: absolute;
    z-index: 998;
    text-align: center;
    font-size: 35px;
    color: white;
    top: 50%;
    /* use top to move text up and down over image*/
    width: 100%;
    /*width of text*/
  }

  .countdown {
    font-size: 20px;
    top: 87%;
  }
}

/* ---- Logistics ---- */

.logistics-container {
  background-image: url('images/mural.jpg_large');
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: absolute;
  height: 92%;
  width: 100%;
  top: 8vh;
}

.logistics-item {
  /* Transparent logistics columns */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  flex-shrink: 1;
  overflow-wrap: break-word;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 5px;
  width: 30%;
  height: 75%;
  border: black solid 3px;
  color: rgb(252, 252, 252);
  text-align: center;
}

.logistics-item li {
  /* to remove bullets in list */
  list-style: none;
  /* text settings for non-linked text */
  font-weight: bold;
  color: rgb(252, 252, 252);
  /* text-shadow: black 0px 0px 5px; */
}

.logistics-item a {
  /* Links in the logistics columns */
  color: rgb(240, 240, 240);
  /* text-shadow: black 0 0 5px; */
  font-weight: bold;
  text-align: center;
}

#find-flights {
  /* Styling for find flight buttons*/
  display: block;
  margin-left: 30%;
  box-shadow: 0 3px 5px black;
  background-color: white;
  width: 35%;
  line-height: 200%;
}

@media screen and (max-width: 768px) {
  /* for mobile  */

  .logistics-container {
    background-image: none;
  }

  .logistics-item h2 {
    border: white 1px solid;
  }

  .logistics-item a {
    text-shadow: none;
  }

  .logistics-item {
    background-image: none;
    /*removes background image on mobile*/
    border: none;
    min-width: 100%;
    height: 110%;
    /*height spaces columns*/
    line-height: 50px;
    /*line-height to space links and headers*/
    text-align: center;
    position: relative;
    font-size: 125%;
  }
}

/* -------------Ceremony Page -------------------- */

.ceremony-details {
  margin-top: 5%;
  color: white;
  text-shadow: black 0px 0px 3px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 300%;
  font-size: 150%;
}

.ceremony-text {
  margin-left: 45%;
  line-height: 120%;
  width: 50%;
  text-align: center;
}
.img-st-marys {
  float: left;
  width: 34%;
  margin-left: 10%;
  border: solid white 2px;
}

@media screen and (max-width: 768px) {
  /* ceremony page mobile changes */
  .img-st-marys {
    margin-top: 8vh;
    float: none;
    width: 75%;
    margin-left: 0%;
  }

  .ceremony-text {
    margin: auto;
    width: 95%;
  }
}

/* ---- Album page ----*/

/*slideshow container*/
.slideshow-container {
  width: 60%;
  margin: auto;
  max-height: 575px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*images invisible by default*/
.containers {
  display: none;
  text-align: center;
}

/*back and forward buttons*/

.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.back:hover,
.forward:hover {
  background-color: white;
  color: black;
}

/* caption info - if we decide to add captions must also uncomment HTML
.info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 50%;
  text-align: center; 
  margin: auto;
} 
*/

/* Worknumbering (1/3 etc) */
.message-info {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

.containers img {
  margin-top: 8vh;
  max-width: 700px;
  max-height: 525px;
  align-content: center;
  justify-content: center;
  border: white solid 3px;
}

@media screen and (min-width: 1800px) {
  .slideshow-container {
    max-width: 1500px;
    max-height: 1000px;
  }

  .containers img {
    margin-top: 12vh;
    max-width: 1100px;
    max-height: 800px;
    border: white solid 2px;
  }

  .back,
  .forward {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  /* media query for album page*/

  .slideshow-container {
    max-width: 300px;
  }

  .containers img {
    margin-top: 16vh;
    max-width: 200px;
    max-height: 500px;
    border: white solid 2px;
  }

  .back,
  .forward {
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
  }
}

/* ---- Registry page ----*/

.registry-container {
  margin-top: 8vh;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.registry-item {
  /* text block on left image on right */
  flex: 1;
  color: white;
  text-shadow: black 0px 0px;
  font-size: 200%;
  margin-top: 5%;
  text-align: center;
}

.registry-item p {
  padding: 35px;
  /*provides spacing between all text elements*/
}

.img-proposal {
  float: right;
  width: 50%;
  margin-right: 20%;
  border: solid white 2px;
}

@media screen and (max-width: 768px) {
  /* registry page mobile changes */
  .registry-container {
    flex-direction: column; /* need this to reorient vertically */
    flex: 1 1 auto;
    margin-top: 8vh;
    margin-left: 0;
  }
  .img-proposal {
    width: 80%;
    height: 90%;
    margin: 10%;
  }
}
